.profile-container{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  #treeWrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50em
  }
}