.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .tree-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
  }
}
